<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <services>
          <register serviceType="SitecoreRedemption.Feature.Chatbot.Repositories.IChatbotEmbeddingRepository, SitecoreRedemption.Feature.Chatbot"
                    implementationType="SitecoreRedemption.Feature.Chatbot.Repositories.JsonEmbeddingRepository, SitecoreRedemption.Feature.Chatbot"
                    lifetime="Singleton" />
      </services>
      <settings>
          <setting name="Feature.ChatBot.OllamaUrl" value="http://localhost:11434/api/generate" />
          <setting name="Feature.ChatBot.OllamaEmbedUrl" value="http://localhost:11434/api/embeddings" />
          <setting name="Feature.ChatBot.ModelName" value="mistral" />
          <setting name="Feature.ChatBot.EmbeddingModelName" value="nomic-embed-text" />
          <setting name="Feature.ChatBot.ResponseSensitivity" value="0.5" />
      </settings>
      <commands>
          <command name="chatbot:generateembeddings" type="SitecoreRedemption.Feature.Chatbot.Commands.GenerateEmbeddingsCommand, SitecoreRedemption.Feature.Chatbot"/>
      </commands>
  </sitecore>
</configuration>